<section id="about">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <img class="img-circle" src="http://placehold.it/200x200
      " alt="profile picture">

    </div>
    <div class="col-md-5">
      <h1>About the Author</h1>
      <p>
        Longkun Yang is upcoming graduate in New York University.


      </p>


    </div>
    <div class="col-md-5">
      <h1>About this site</h1>
      <p>This site is meant for people to search for their recipes with great ease. It is created as the finial project for the Applied Internet Technology course</p>

    </div>


  </div>

</div>
</section>
