<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <!-- jquery-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- custom css-->
  <link rel="stylesheet" href="/css/master.css">
  <!--side nav-->
  <script src="/javascript/side-nav.js"></script>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/about">About</a>
    <a href="#">Feeling Indecisive</a>
    <a href="#">Recipes</a>
    <div class="sub-menu">
      <a href="meat-lover">Meat Lover</a>
      <a href="#">Vegan</a>
      <a href="#">Desert</a>
      <a href="#">Cocktail</a>
    </div>

  </div>
  <span class="nav-btn glyphicon glyphicon-menu-right" style="font-size:30px;cursor:pointer" onclick="openNav()"></span>
  <!-- header -->
</head>
<body>
  <header id="header">
    <div class="container-fluid">
      <a id="brand" href="/"><h1 >Rexipe</h1></a>



      <span class="log-in" data-toggle="modal" data-target=".login-modal">Log In&nbsp <span class="glyphicon glyphicon-log-in"></span></span>

      <div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content login-form">
            <h1 class="text-center">Log In</h1>
            <form action="/login" method="post">
              <div class="input-group">
                <span class="input-group-addon">Username:</span>
                <input class="form-control" type="text" name="username"/>
            </div>
<br>
  <div class="input-group">
                <span class="input-group-addon">Password:</span>
                <input class="form-control" type="password" name="password"/>
                </div>
                <br>
                <div class="text-center" >
                  <button type="submit" class="btn">Log In</button>
                  <a class="btn btn-primary" href="/admin">Test Log In</a>
                </div>



            </form>
          </div>
        </div>
      </div>

    </div>

  </header>
  {{{body}}}

  <!-- footer -->
  <footer class="footer home-footer">
    <div class="container-fluid">
      <p> &copy Longkun Yang</p>
    </div>
  </footer>



</body>
</html>
