html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
/*side nav*/

.nav-btn{
  position: fixed;
  top: 350px;
  left: 0px
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sub-menu a{
  font-size: .95em;
  text-indent: 1em;
}

/*                            HOME                                                  */
/*header style*/
#home-header{

  height: 400px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top,  #EF5350,#D32F2F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom ,  #EF5350,#D32F2F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom ,  #EF5350,#D32F2F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom ,  #EF5350,#D32F2F); /* Standard syntax */
}
/*search bar style*/
.search-bar{
  position: relative;
  top:50px;
  width: 36%;
  margin: 0 auto;
}
.search-bar input{
  border-radius: 30px 0px 0px 30px;
}
.search-bar button{
  border-radius: 0px 30px 30px 0px;
}
/* dish of the day style */
.dish-of-the-day{
  position: relative;
  top:-100px;
  width: 800px;
  height: 580px;

}
.dish-of-the-day img{
  z-index: 100;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.6);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
  background-color: #FFEBEE;
}
.footer p{
  position: relative;
  top: 20px;

}
/*                         General Header                    */
#header{
  background-color: #D32F2F;
  height: 55px;
}
.log-in{
  line-height: 55px;
  margin-right: .5em;
  vertical-align: middle;
  float: right !important;
  cursor: pointer;
}

#brand h1{
  line-height: 55px;
  display: inline;
  color: black;
  text-decoration: none;
}
#about{
  margin-top: 2.5em;
}
/* Recipes sub-sites*/
.subsite-title{
  text-align: center;
}
.recipes-sub-sites .container{
  width: 70%;

}

.login-form form{
  display: block;
  width: 60%;
  margin: 0 auto;
  padding-top: 1.2em;
  padding-bottom: 1.3em;
}
.login-form .input-group{
  margin-bottom: 1.2em;
}
/*                      Dashboard                    */
.myRecipes{
  margin-top: 2.2em;
  margin-bottom: 2.5em;

}
